{% extends 'base.html.twig' %}

{% block title %}Mes articles | SymfonyPress{% endblock %}
{% block body %}
<main>
    {# <a href="{{path('app_home')}}" class="back-link">Retour</a> #}
    <section class="articles-container">
        {% if articles is not empty %}
            {% for article in articles %}
                {% include 'components/article-card.html.twig' with { article: article } %}
            {% endfor %}
        {% else %}
            <div class="error-msg-container">
                <p>Aucun article trouvé</p>
            </div>
        {% endif %}
    </section>
</main>
{% endblock %}