{% extends 'base.html.twig' %}

{% block title %}Catégories | SymfonyPress{% endblock %}

{% block body %}
<main>
    <a href="{{path('app_home')}}" class="back-link">Retour</a>
    <section class="categories-card-container">
        {% for category in categories %}
            <a href="{{ path('app_article_category', { slug: category.slug }) }}" class="category-card">
                <h3>{{category.name}}</h3>
            </a>
        {% endfor %}
    </section>
</main>
{% endblock %}
