<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
</head>
<body>

    {% include 'layout/header.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% include 'layout/footer.html.twig' %}

</body>
</html>

